<div class="container chatline">
  <img src="/api/images/<%- student.photoUID %>" alt="student image" width="100px" height="100px" />
  <h3 style="display: inline;"><%= student.name %></h3>
  <div>
    email : <%= student.email %><br />
    phone : <%= student.phone %><br />
    degree : <%= student.degree %><br />
  </div>
  <a class=" btn btn-primary" href="/api/students/edit/<%- student._id %>"">Edit Profile</a>
</div>